---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/app.css";
import type { SiteMeta } from "@/types";
import { siteConfig } from "@/site-config";

type Props = SiteMeta;

const { description, title } = Astro.props;

const titleSeparator = "-";
const siteTitle = `${title} ${titleSeparator} ${siteConfig.title}`;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL("/images/bdl.png", Astro.url).href;
---

<meta charset='utf-8' />
<meta
  content='width=device-width, initial-scale=1.0, shrink-to-fit=no'
  name='viewport'
/>
<meta content='IE=edge' http-equiv='X-UA-Compatible' />
<title>{siteTitle}</title>

{/* Icons / Favicon */}
<link
  href='/favicon/favicon-light.png'
  rel='icon'
  sizes='any'
  media='(prefers-color-scheme: light)'
/>
<link
  href='/favicon/favicon-dark.png'
  rel='icon'
  sizes='any'
  media='(prefers-color-scheme: dark)'
/>

{/* Canonical URL */}
<link rel='canonical' href={canonicalURL} />

{/* Primary Meta Tags */}
<meta content={siteTitle} name='title' />
<meta content={description} name='description' />
<meta content={siteConfig.author} name='author' />

{/* Theme Colour */}
<meta content='' name='theme-color' />

{/* Open Graph / Facebook */}
<meta content={title} property='og:title' />
<meta content={description} property='og:description' />
<meta content={canonicalURL} property='og:url' />
<meta content={siteConfig.title} property='og:site_name' />
<meta content={siteConfig.ogLocale} property='og:locale' />
<meta content={socialImageURL} property='og:image' />
<meta content='1024' property='og:image:width' />
<meta content='1024' property='og:image:height' />

{/* Twitter */}
<meta content='summary' property='twitter:card' />
<meta content={canonicalURL} property='twitter:url' />
<meta content={title} property='twitter:title' />
<meta content={description} property='twitter:description' />
<meta content={socialImageURL} property='twitter:image' />

<meta content={Astro.generator} name='generator' />
