---
import type { Person } from "@/utils";

const { people, bgcolor, title } = Astro.props;
---

<div class='relative w-full'>
  <div class=`${bgcolor} pb-16 pt-8`>
    <div class='relative z-10 mx-auto flex max-w-[55rem] flex-col gap-y-3 px-5'>
      <div class='mb-16 text-3xl font-bold'>
        <h1>{title}</h1>
      </div>

      <div class='m-auto flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0'>
        <div
          class='flex flex-row flex-wrap items-center justify-evenly gap-x-8 gap-y-10 md:gap-y-16'
        >
          {
            people.map((person: Person) => (
              <div class='flex flex-col items-center'>
                <a href={person.link}>
                  <img
                    src={person.pic}
                    class='mb-2 ml-5 mr-5 h-24 w-24 rounded-full object-cover md:ml-10 md:mr-10 md:h-36 md:w-36'
                  />

                  <p class='mt-1 w-full text-center text-sm'>{person.name}</p>

                  <p class='mt-0 w-full text-center text-xs'>{person.affiliation}</p>
                </a>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
